:root {
  --spacer: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #00a2ff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  color: #000000;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 25px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: medium;
}

/* SECTION STYLE */
section {
  padding: 20px;
  margin: 20px auto;
  color: #000000;
  background-color: bisque;
  max-width: 1500px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

section h2 {
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

section p {
  color: #000;
  text-align: center;
}

/* HOME */
#HOME {
  background-color: #fc0;
}

/* LIBRARY */
.library-header {
  text-align: center;
  margin-bottom: 20px;
}

.library-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.library-item {
  background: #e0f7fa;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding: 12px;
  width: 200px;
  text-align: center;
}

.library-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.library-item a {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.library-item a:hover {
  text-decoration: underline;
}


.button-click {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}


footer {
  background-color: #dcdcdc;
  font-size: 14px;
  color: #696969;
  padding: 10px;
  text-align: center;
}
